<div class="portlet portlet-default">
  <div class="portlet-heading">
    <div class="portlet-title">
      <h4> All Issues </h4>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="portlet-body">
    <form (ngSubmit)="getSelIssueData()" method="post" class="form-horizontal" [formGroup]="issues_form" novalidate>
      <div class="col-md-12">
        <div class="form-group">
          <div class="col-md-3">
            <label>Category<span style="color:red">*</span></label>
            <select formControlName="seluserid" class="form-group form-control" [(ngModel)]="selecteddomain" (change)="getDomain($event)">                
              <option *ngFor="let item of domainsbyid; let i=index;" value="{{item.domain}}">{{item.domain}}</option>
              <option value="all">all </option>    
            </select>
            <!--<span *ngIf="(issues_forms.get('seluserid').touched || issues_forms.get('seluserid').dirty) && issues_forms.get('seluserid').errors">
                    <span *ngIf="issues_forms.get('seluserid').errors.required" style="color:red">  Please enter type </span>
                </span>-->
          </div>
              <div class="col-md-2">
            <label for="email">Status <span style="color:red">*</span></label>
            <select class=" form-control" formControlName="selstatus" [(ngModel)]="selecteddomain1" (change)="getStatus($event)">
              <option  value="">-Select-</option>
              <option value="verified_resolved">Verified Resolved</option>
              <option value="resolution_in_progress">Resolution in Progress</option>
              <option value="pending">Pending</option>
              <option value="cannot_be_resolved">Cannot be resolved</option>
              <option value="user_deleted">User Deleted  </option> 
              <option value="assigned">Assigned  </option>
              <option value="onhold">On Hold  </option>
              <option value="user_resolved">User Resolved  </option> 
              <option value="all">All </option> 
            </select>
           
          </div>
          <div class="col-md-2">
            <label for="email">From Date<span style="color:red">*</span></label>
            <!--<app-date type="day" ngDefaultControl [endDate]="to_date" [startDate]="from_date"  (dateChange)="dateChanged('start_date', $event)">
            </app-date>-->
            <my-date-picker locale="en" #start formControlName="from_date" name="startdate" placeholder="Ex:YYYY-MM-DD" required [options]="myDatePickerOptions"
              (dateChanged)="onDateChanged($event)"></my-date-picker>
            <!--<span *ngIf="(issues_forms.get('from_date').touched || issues_forms.get('from_date').dirty) && issues_forms.get('from_date').errors">
                    <span *ngIf="issues_forms.get('from_date').errors.required" style="color:red">  Please enter type </span>
                </span> -->
          </div>
          <div class="col-md-2">
            <label for="email">To Date <span style="color:red">*</span></label>
            <my-date-picker #end name="enddate" locale="en" formControlName="to_date" [options]="myDatePickerOptions2" placeholder="Ex:YYYY-MM-DD"
              required (dateChanged)="onDateChanged2($event)"></my-date-picker>
            <!--<div>
              <span *ngIf="(issues_forms.get('to_date').touched || issues_forms.get('to_date').dirty) && issues_forms.get('to_date').errors">
                    <span *ngIf="issues_forms.get('to_date').errors.required" style="color:red">  Please enter type </span>
                </span>
                </div>-->
          </div>
          
          <div class="col-md-3">
            <button type="submit" [disabled]="!issues_form.valid" class="btn btn-default btn-square" style="margin-top: 25px; margin-right: 5px;">Submit</button>
            <a class="btn btn-danger btn-square" style="margin-top: 25px;" (click)="clear()">Clear Data</a>
          </div>
        </div>
      </div>
    </form>
    <div class="row" *ngIf="table">
      <label>No data Found</label>
    </div>
    <div class="row ">
      <div *ngIf="!table" class="col-lg-8">
        <div class="row">
          <div style="padding-bottom: 25px;" class="col-lg-12">
            <ul class="topstats">
              <li class="right-border li-padding" style="margin-left: -37px; padding: 0 37px 0 37px;">
                <span class="title"><strong>Pending</strong></span>
                <h3 *ngIf="pending_tot!=null" style="text-align: center;" Class="color-up title1"> {{pending_tot}}</h3>
                <h3 *ngIf="pending_tot==''" style="text-align: center;" Class="color-up title1"> {{0}}</h3>
              </li>
              <li class="right-border li-padding" style="padding: 0px 39px 0px 44px;">
                <span class="title"><strong>Assigned</strong></span>
                <h3 *ngIf="assigned_tot!=null" style="text-align: center;" Class="color-up title1"> {{assigned_tot}} </h3>
                <h3 *ngIf="assigned_tot==''" style="text-align: center;" Class="color-up title1"> {{0}}</h3>
              </li>
              <li class="right-border li-padding">
                <span class="title"><strong>Resolution In-Progress</strong></span>
                <h3 *ngIf="resolution_in_progress_tot!=null" style="text-align: center;" Class="color-up title1"> {{resolution_in_progress_tot}} </h3>
                <h3 *ngIf="resolution_in_progress_tot==''" style="text-align: center;" Class="color-up title1"> {{0}}</h3>
              </li>
              <li class="li-padding">
                <span class="title"><strong>Verified & Resolved</strong></span>
                <h3 *ngIf="verified_resolved_tot!=null" style="text-align: center;" Class="color-up title1"> {{verified_resolved_tot}}</h3>
                <h3 *ngIf="verified_resolved_tot==''" style="text-align: center;" Class="color-up title1"> {{0}}</h3>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div style="padding-bottom: 25px;" class="col-lg-12">
            <ul class="topstats">
              <li class="right-border li-padding" style="margin-left: -37px;">
                <span class="title"><strong>User Resolved</strong></span>
                <h3 *ngIf="user_resolved_tot!=null" style="text-align: center;" Class="color-up title1"> {{user_resolved_tot}} </h3>
                <h3 *ngIf="user_resolved_tot==''" style="text-align: center;" Class="color-up title1"> {{0}}</h3>
              </li>
              <li class="right-border li-padding">
                <span class="title"><strong>User Deleted</strong></span>
                <h3 *ngIf="user_deleted_tot!=null" style="text-align: center;" Class="color-up title1"> {{user_deleted_tot}} </h3>
                <h3 *ngIf="user_deleted_tot==''" style="text-align: center;" Class="color-up title1"> {{0}}</h3>
              </li>
              <li class="right-border li-padding">
                <span class="title"><strong>On Hold</strong></span>
                <h3 *ngIf="onhold_tot!=null" style="text-align: center;" Class="color-up title1"> {{onhold_tot}} </h3>
                <h3 *ngIf="onhold_tot==''" style="text-align: center;" Class="color-up title1"> {{0}}</h3>
              </li>
              <li class="right-border li-padding">
                <span class="title"><strong>Cannot be Resolved</strong></span>
                <h3 *ngIf="cannot_be_resolved_tot!=null" style="text-align: center;" Class="color-up title1"> {{cannot_be_resolved_tot}}</h3>
                <h3 *ngIf="cannot_be_resolved_tot==''" style="text-align: center;" Class="color-up title1"> {{0}}</h3>
              </li>
              <li class="li-padding">
                <span class="title"><strong>Total</strong></span>
                <h3 style="text-align: center;" Class="color-up title1"> {{total}}</h3>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12" *ngIf="avgtable">
            <div class="">
              <table class="table table-bordered" style="width: 97%;">
                <thead>
                  <tr>
                    <td colspan="3">Resolution Time for {{selecteddomain |titlecase}} Works </td>
                  </tr>
                </thead>
                <thead>
                  <tr>
                    <th>Minimum</th>
                    <th>Average</th>
                    <th>Maximum</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ad of avgdata;">
                    <td>{{ad.minimum}}</td>
                    <td>{{ad.average}}</td>
                    <td>{{ad.maximum}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!table" class="col-lg-4" style="padding-bottom: 25px; padding-left: 0px;">
        <chart [options]="options"></chart>
      </div>
    </div>
    <div class="row">
      <div *ngIf="!table" class="col-md-12 tabel_overflow">
        <table class="table table-bordered table-green" [mfData]="data | dataFilter:filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
          [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
          <thead>
            <tr>
              <th>
                <mfDefaultSorter by="insert_dt">Issue Raised On</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="domain">Domain</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="location">Location</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="problem">Impact</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="issue_desc">Issue Description</mfDefaultSorter>
              </th>

              <th>
                <mfDefaultSorter by="raised_by">Raised By</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="status"> Status</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="days"> Elapsed Days</mfDefaultSorter>
              </th>

              <th>
                <mfDefaultSorter by="priority"> Priority</mfDefaultSorter>
              </th>

              <th>
                <mfDefaultSorter by="img_name"> Img</mfDefaultSorter>
              </th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let items of mf.data; let k=index;">
              <td nowrap>{{items.insert_dt| date :'dd-MM-yyyy'}}</td>
              <td>{{items.domain|titlecase}}</td>
              <td>{{items.location}}</td>
              <td>{{items.problem}}</td>
              <td>{{items.issue_desc}}</td>
              <td>{{items.raised_by}}</td>
              <!--<td>{{items.status}}</td>-->
              <td nowrap *ngIf="items.status=='pending'"><span class="badge blue" style="margin: 0px 40px 0px 2px;">Pending</span></td>
              <td nowrap *ngIf="items.status=='verified_resolved'"><span class="badge green" style="margin: 0px 40px 0px 2px;">Verified Resolved</span></td>
              <td nowrap *ngIf="items.status=='resolution_in_progress'"><span class="badge orange" style="margin: 0px 40px 0px 2px;">Resolution in Progress</span></td>
              <td nowrap *ngIf="items.status=='cannot_be_resolved'"><span class="badge red" style="margin: 0px 40px 0px 2px;"> Cannot be Resolved </span></td>
              <td nowrap *ngIf="items.status=='user_deleted'"><span class="badge red" style="margin: 0px 40px 0px 2px;">User Deleted</span></td>
              <!--<td>{{item.days}}</td>-->
              <td *ngIf="items.days <= 0  && items.status == 'pending'" style="text-align: center;">{{-(items.day)}} </td>
              <td *ngIf="items.days <= 0  && items.status == 'verified_resolved'">{{-(items.days)}}</td>
              <td *ngIf="items.days <= 0  && items.status == 'resolution_in_progress'">{{-(items.day)}}</td>
              <td *ngIf="items.days <= 0  && items.status == 'cannot_be_resolved'">{{-(items.days)}}</td>
              <td *ngIf="items.days <= 0  && items.status == 'user_deleted'"></td>
              <td>{{items.priority}}</td>
              <td> <a *ngIf="items.img_name" (click)="getImagesbyId(items.did,items.reg_no)"> View </a> </td>

              <td>
                <!--<a class="btn btn-info btn-xs btn-square" style="margin-right: 5px; width: 50px;">Edit</a>
                    <a class="btn btn-danger btn-xs btn-square">Delete</a>-->
                <a class="btn btn-info btn-xs btn-square" (click)="details(items)" style="margin-right: 5px; width: 50px;">Edit</a>
                <!--<a class="btn btn-danger btn-xs btn-square" (click)="delete(items)" >Delete</a>-->
              </td>
            </tr>
          </tbody>
          <tfoot style="border: 0px solid">
            <tr style="border: 0px solid">
              <td colspan="12" style="border: 0px solid">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<!--model popup-->
<app-modal #modal1>
  <div class="app-modal-header">
    <h4 style="color:black">Update Issue</h4>
  </div>
  <div class="app-modal-body">
    <form [formGroup]="taskeditForm" (ngSubmit)="editTask()" role="form">
      <div class="box-body">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-4 control-label">Raised By</label>
            <div class="col-sm-6">
              <input name="raised_by" type="text" value="{{by}}" class="form-control" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">Priority</label>
            <div class="col-sm-6">
              <select class="form-control" formControlName="priority" required>
                   <option selected value="high">high</option>
                   <option selected value="low">low</option>
                   <option value="medium">Medium</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">Status</label>
            <div class="col-sm-6">
              <select class="form-control" formControlName="status" required>
                   <option selected value="verified_resolved">Verified Resolved</option>
                   <option selected value="resolution_in_progress">Resolution in Progress</option>
                   <option value="pending">Pending</option>
                   <option value="cannot_be_resolved">Cannot be resolved</option>
                   <option value="user_deleted">User Deleted  </option>
                    <option value="assigned">Assigned  </option>
                     <option value="onhold">On Hold  </option>
                      <option value="user_resolved">User Resolved  </option> 
                    <option value="all">All </option> 
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">Assigned To</label>
            <div class="col-sm-6">
              <input formControlName="repaired_by" name="repaired_by" type="text" class="form-control" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">Repaired On</label>
            <div class="col-sm-6">
              <!--<app-date type="day" ngDefaultControl value="" [endDate]="start_date" formControlName="repaired_on" (dateChange)="dateChanged('repaired_on', $event)">
            </app-date>-->
              <!--<date-picker formControlName="repaired_on" class="" ></date-picker>-->
              <date-picker mode="datetime" formControlName="repaired_on" required></date-picker>
              <span *ngIf="(taskeditForm.get('repaired_on').touched || taskeditForm.get('repaired_on').dirty) && taskeditForm.get('repaired_on').errors">
                <span *ngIf="taskeditForm.get('repaired_on').errors.required" style="color:red">  Please enter your date. </span>
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 control-label">Date of Resolution</label>
            <div class="col-sm-6">
              <!--<app-date type="day" ngDefaultControl value="" [endDate]="start_date" formControlName="date_of_resolution" (dateChange)="dateChanged('date_of_resolution', $event)">
            </app-date>-->
              <date-picker formControlName="date_of_resolution" mode="datetime" required></date-picker>
              <span *ngIf="(taskeditForm.get('date_of_resolution').touched || taskeditForm.get('date_of_resolution').dirty) && taskeditForm.get('date_of_resolution').errors">
                <span *ngIf="taskeditForm.get('date_of_resolution').errors.required" style="color:red">  Please enter your date. </span>
              </span>

            </div>
          </div>
          <!--<input type="hidden" formControlName="did" name="did" value="" class="form-control">-->
          <div class="form-group">
            <label class="col-sm-4 control-label">Notes</label>
            <!--<input type="text" class="form-control" />-->
            <div class="col-sm-6">
              <textarea class="form-control" name="notes" formControlName="notes" required></textarea>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <div class="app-modal-footer col-sm-offset-4">
        <button type="submit" class="btn btn-default btn-square">Save Changes</button>
        <button type="button" class="btn btn-danger btn-square" (click)="close();">Close</button>
        <!--<button type="button" class="btn btn-primary" (click)="ok()">OK</button>-->
      </div>
    </form>
  </div>
</app-modal>

<app-modal #modal3>
  <div class="app-modal-header">
    <h4 style="color:black">
      <div> </div>
    </h4>
  </div>
  <div class="app-modal-body">
    <!--<table style="width:100%">
  <tr *ngFor="let img of img_data;">
    <td><img src="{{img_url}}/{{img.img_name}}" style="width:400px; height:auto; margin-left: 65px;"> </td> 
    
  </tr>
    </table>-->
    <div *ngFor="let img of img_data; let i=index">
      <div class="col-md-6">
        <label>Image {{i+1}}</label>
        <img src="{{img_url}}/{{img.img_name}}" style="width:400px; height:auto; margin-left: 65px;">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="app-modal-footer" style="margin-top: 15px;">
    <!--<button type="button" class="btn btn-default btn-square" (click)="delete1();">Yes</button>-->
    <button type="button" class="btn btn-danger btn-square" (click)="imageclose();">Close</button>
  </div>
</app-modal>