<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="portlet portlet-default">
  <div class="portlet-heading">
    <div class="portlet-title">
      <h4>Resolution progress</h4>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="portlet-body">
    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-md-3">
          <input class="form-control" [(ngModel)]="filterQuery" placeholder="Search" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered table-green" [mfData]="data | dataFilter:filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
            [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
            <thead>
              <tr>
                <!-- <th>
                <mfDefaultSorter by="insert_dt">Add Date</mfDefaultSorter>
              </th> -->
                <th>
                  <mfDefaultSorter by="domain">Domain</mfDefaultSorter>
                </th>

                <th>
                  <mfDefaultSorter by="location">Location</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="problem">Problem</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="issue_desc">Issue</mfDefaultSorter>
                </th>
                <th nowrap>
                  <mfDefaultSorter by="expected_resolution_date">Exp Res Date </mfDefaultSorter>
                </th>

                <th>
                  <mfDefaultSorter by="repaired_on">Rep Date </mfDefaultSorter>
                </th>

                <th>
                  <mfDefaultSorter by="priority">Priority</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="img_name">Img</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="status"> Status</mfDefaultSorter>
                </th>
                <!-- <th>
                  <mfDefaultSorter by="days">Elapsed days</mfDefaultSorter>
                </th> -->
                <th nowrap>
                  Action
                </th>
              </tr>
            </thead>
            <tbody *ngIf="mf.data.length != 0">
              <tr *ngFor="let item of mf.data; let i=index;">
                <!-- <td nowrap>{{item.insert_dt | date: 'dd-MMM-yyyy'}}</td> -->
                <td>{{item.domain|titlecase}}</td>
                <td>{{item.location}}</td>
                <td>{{item.problem}}</td>
                <td>{{item.issue_desc}}</td>
                <td nowrap>{{item.expected_resolution_date | date: 'dd-MMM-yyyy'}}</td>
                <td nowrap>{{item.repaired_on | date: 'dd-MMM-yyyy'}}</td>
                <td>{{item.priority}}</td>
                <td>
                  <a *ngIf="item.img_name" (click)="getImagesbyId(item.did,item.reg_no)"> View </a>
                </td>
                <!-- <td>{{item.status}}</td> -->
                <td nowrap *ngIf="item.status=='resolution_in_progress'">
                  <span class="badge orange" style="margin: 0px 40px 0px 2px;" tooltipPlacement="top" tooltip="{{item.resolutiontext}}">Resolution in Progress</span>
                </td>
                <td nowrap *ngIf="item.status=='assigned'">
                  <span class="badge orange" style="margin: 0px 40px 0px 2px;" tooltipPlacement="top" tooltip="{{item.assignedtext}}">Assigned</span>
                </td>
                <td nowrap *ngIf="item.status=='closed'">
                  <span class="badge green" style="margin: 0px 40px 0px 2px;" tooltipPlacement="top" tooltip="{{item.repairedtext}}">Closed</span>
                </td>
                <td nowrap *ngIf="item.status=='verified_resolved'">
                  <span class="badge green" style="margin: 0px 40px 0px 2px;" tooltipPlacement="top" tooltip="{{item.notes}}">Verified & Resolved</span>
                </td>
                <td nowrap *ngIf="item.status=='onhold'">
                  <span class="badge red" style="margin: 0px 40px 0px 2px;" tooltipPlacement="top" tooltip="{{item.onholdtext}}">On Hold</span>
                </td>
                <td nowrap *ngIf="item.status=='cannot_be_resolved'">
                  <span class="badge red" style="margin: 0px 40px 0px 2px;" tooltipPlacement="top" tooltip="{{item.cannottext}}">Cannot be Resolved</span>
                </td>

                <!-- <td *ngIf="item.days <= 0  && item.status == 'closed'" style="text-align: center;">{{-(item.days)}}</td>
                <td *ngIf="item.days <= 0  && item.status == 'verified_resolved'" style="text-align: center;">{{-(item.da)}}</td>
                <td *ngIf="item.days <= 0  && item.status == 'resolution_in_progress'" style="text-align: center;">{{-(item.day)}}</td>
                <td *ngIf="item.days <= 0  && item.status == 'cannot_be_resolved'" style="text-align: center;">{{-(item.day)}}</td>
                <td *ngIf="item.days <= 0  && item.status == 'user_deleted'"></td>
                <td *ngIf="item.days <= 0  && item.status == 'onhold'" style="text-align: center;">{{-(item.day)}}</td>
                <td *ngIf="item.days <= 0  && item.status == 'assigned'" style="text-align: center;">{{-(item.day)}} </td> -->
                <!-- <td> <a *ngIf="item.img_name" (click)="getImagesbyId(item.did,item.reg_no)"> View </a> </td> -->
                <td style="text-align: center;">
                  <a *ngIf="item.status == 'assigned'" class="btn btn-info btn-xs btn-square" (click)="details(item)">Start Work</a>
                  <a *ngIf="item.status == 'onhold'" class="btn btn-info btn-xs btn-square" (click)="details(item)">Start Work</a>
                  <a *ngIf="item.status == 'cannot_be_resolved'" class="btn btn-default btn-xs btn-square">Issue Closed</a>
                  <a *ngIf="item.status == 'resolution_in_progress'" class="btn btn-danger btn-xs btn-square" (click)="closed(item)">Close Issue</a>
                  <a *ngIf="item.status == 'closed'" class="btn btn-default btn-xs btn-square">Issue Closed</a>
                  <a *ngIf="item.status == 'verified_resolved'">
                    <i class="fa fa-check" style="color: rgb(102, 201, 102)" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="mf.data.length == 0">
              <tr rowspan="2">
                <td colspan="12">
                  <h4 *ngIf="mf.data.length == 0" class="text-center"> No Data found</h4>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="12">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal #modal1>
  <div class="app-modal-header">
    <h4 style="color:black">{{issuedescription}}
      <a data-dismiss="modal" class="pull-right" (click)="close()">x</a>
    </h4>
  </div>
  <div class="app-modal-body">
    <form [formGroup]="resolutioninform" role="form">
      <div class="form-horizontal">
        <div class="box-body">
          <div class="form-group">
            <label class="col-sm-4 control-label">Status</label>
            <div class="col-sm-6">
              <select class="form-control" formControlName="status" (change)="selStataus($event)">
                <option selected value="resolution_in_progress">Resolution in Progress</option>
                <option value="onhold">On Hold </option>
                <option value="cannot_be_resolved">Cannot be resolved</option>
                <option value="closed">Closed</option>
                <option value="assigned">Assigned </option>
              </select>
            </div>
          </div>


          <div *ngIf="showdays == 'resolution_in_progress'" class="form-group">
            <label class="col-sm-4 control-label">Expected Resolution Date</label>
            <div class="col-sm-4">
              <my-date-picker #start name="expected_resolution_date" locale="en" formControlName="expected_resolution_date" [options]="myDatePickerOptions"
                placeholder="YYYY-MM-DD" (dateChanged)="onDateChanged3($event)"></my-date-picker>
            </div>
          </div>

          <div *ngIf="showdays == 'closed'" class="form-group">
            <label class="col-sm-4 control-label">Notes</label>
            <div class="col-sm-6">
              <!--<input type="text" class="form-control" />-->
              <textarea class="form-control" name="repairedtext" value="repairedtext" formControlName="repairedtext"></textarea>
            </div>
          </div>

          <div *ngIf="showdays == 'onhold'" class="form-group">
            <label class="col-sm-4 control-label">Notes</label>
            <div class="col-sm-6">
              <textarea class="form-control" name="onholdtext" formControlName="onholdtext" style="resize: vertical"></textarea>
            </div>
          </div>
          <div *ngIf="showdays == 'cannot_be_resolved'" class="form-group">
            <label class="col-sm-4 control-label">Notes</label>
            <div class="col-sm-6">
              <textarea class="form-control" name="cannottext" formControlName="cannottext" style="resize: vertical"></textarea>
            </div>
          </div>

          <div class="form-group">
            <div *ngIf="showdays == 'assigned'" class="col-sm-offset-4">
            </div>
            <div *ngIf="showdays == 'onhold' || showdays == 'cannot_be_resolved' ||  showdays == 'closed' || showdays =='resolution_in_progress' "
              class="col-sm-offset-4">
              <button (click)="resolutioninprogress()" class="btn btn-default btn-square col-md-4" style="margin-top: 25px;">Submit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="app-modal-footer">
      </div>
    </form>
  </div>
</app-modal>




<app-modal #modal2>
  <div class="app-modal-header">
    <h4 style="color:black">{{issuedescription}}
      <a data-dismiss="modal" class="pull-right" (click)="close2()">x</a>
    </h4>
  </div>
  <!-- <div class="app-modal-header">
    
  </div> -->
  <div *ngIf="display" class="app-modal-body">
    <h4 style="color:black">
      <div>Are you want to close this {{issuedescription}} ?</div>
    </h4>
    <div class="app-modal-footer" style="margin-top: 15px;">
      <button type="button" class="btn btn-default btn-square" (click)="showAddForm()">Yes</button>
      <button type="button" class="btn btn-danger btn-square" (click)="close2();">No</button>
    </div>
  </div>
  <div class="app-modal-body" *ngIf="addFormStatus">
    <form [formGroup]="resolutionclosedform" role="form">
      <div class="form-horizontal">
        <div class="box-body">
          <!-- <div class="form-group">
            <label class="col-sm-4 control-label">Repaired On</label>
            <div class="col-sm-4">
              <my-date-picker #start name="repaired_on" readonly locale="en" formControlName="repaired_on" [options]="myDatePickerOptions" placeholder="YYYY-MM-DD"
                (dateChanged)="onDateChanged2($event)"></my-date-picker>
            </div>
          </div> -->

          <div class="form-group">
            <label class="col-sm-4 control-label"> Resolution Notes</label>
            <div class="col-sm-6">
              <!--<input type="text" class="form-control" />-->
              <textarea class="form-control" name="repairedtext" value="repairedtext" formControlName="repairedtext" style="resize: vertical"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-4">
              <button (click)="resolutionclosed()" class="btn btn-default btn-square col-md-4" style="margin-top: 25px;">Submit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="app-modal-footer">
      </div>
    </form>
  </div>
</app-modal>



<app-modal #modal3>
  <div class="app-modal-header">
    <h4 style="color:black">
      <div> </div>
    </h4>
  </div>
  <div class="app-modal-body">
    <div *ngFor="let img of img_data; let i=index">
      <div class="col-md-6">
        <label>Image {{i+1}}</label>
        <img src="{{img_url}}/{{img.img_name}}" style="width:400px; height:auto; margin-left: 65px;">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="app-modal-footer" style="margin-top: 15px;">
    <button type="button" class="btn btn-danger btn-square" (click)="imageclose();">Close</button>
  </div>
</app-modal>