<!--<style>
table, th, td {
    border: 1px solid black;
}
td {
  padding: 8px 0;
}
</style>-->
<div class="portlet portlet-default">
  <div class="portlet-heading">
    <div class="portlet-title">
      <h4>   Issue Resolution Report </h4>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="portlet-body">
    <form (ngSubmit)="getSelIssueData()" method="post" class="form-horizontal" [formGroup]="issues_form" novalidate>
      <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="col-md-2">
            <label>Category<span style="color:red">*</span></label>

            <select formControlName="seluserid" class="form-control" [(ngModel)]="selecteddomain" (change)="selCategory($event)">                
               <option value="all">All </option> 
              <option *ngFor="let cl of categoriesList" value="{{cl.domain}}">{{cl.domain_title}}</option>
            <!-- <option selected  value="all">All</option> -->
          </select>
            <!--<span *ngIf="(issues_forms.get('seluserid').touched || issues_forms.get('seluserid').dirty) && issues_forms.get('seluserid').errors">
                    <span *ngIf="issues_forms.get('seluserid').errors.required" style="color:red">  Please enter type </span>
                </span>-->
          </div>
          <div class="col-md-3">
            <label for="email">Status <span style="color:red">*</span></label>
            <!-- <input class="form-control" [(ngModel)]="filterQuery" placeholder="Search" /> -->
            <select class=" form-control" formControlName="selstatus" [(ngModel)]="selecteddomain1" (change)="selStatus($event,'checked')">
               <!-- <option  value="">-Select-</option>  -->
               <option value="all">All </option> 
                <option value="pending">Pending</option>
                <option value="assigned">Assigned  </option>
                 <option value="resolution_in_progress">Resolution in Progress</option>
                 <option value="closed">Closed</option> 
                <option value="verified_resolved">Verified Resolved</option>
                <!-- <option value="user_resolved">User Resolved  </option>  -->
                <option value="user_deleted">User Deleted  </option> 
                <option value="onhold">On Hold  </option>
                  <option value="cannot_be_resolved">Cannot be resolved</option> 
                   
              </select>
            <!--<span *ngIf="(issues_forms.get('selstatus').touched || issues_forms.get('selstatus').dirty) && issues_forms.get('selstatus').errors">
                    <span *ngIf="issues_forms.get('selstatus').errors.required" style="color:red">  Please enter type </span>
                </span>-->
          </div>
          <div class="col-md-2">
            <label for="email">From Date<span style="color:red">*</span></label>
            <my-date-picker locale="en" #start formControlName="from_date" name="startdate" placeholder="DD-MMM-YYYY" required [options]="myDatePickerOptions"
              (dateChanged)="onDateChanged($event)"></my-date-picker>
          </div>
          <div class="col-md-2">
            <label for="email">To Date <span style="color:red">*</span></label>
            <my-date-picker #end name="enddate" locale="en" formControlName="to_date" [options]="myDatePickerOptions2" placeholder="DD-MMM-YYYY"
              required (dateChanged)="onDateChanged2($event)"></my-date-picker>
            <!--<div>
              <span *ngIf="(issues_forms.get('to_date').touched || issues_forms.get('to_date').dirty) && issues_forms.get('to_date').errors">
                    <span *ngIf="issues_forms.get('to_date').errors.required" style="color:red">  Please enter type </span>
                </span>
                </div>-->
          </div>

          <div class="col-md-3">
            <button type="submit" [disabled]="!issues_form.valid" class="btn btn-default btn-square" style="margin-top: 25px; margin-right: 5px;">Submit</button>
            <a class="btn btn-danger btn-square" style="margin-top: 25px;" (click)="clear()">Clear Data</a>
          </div>

        </div>
      </div>
      </div>
    </form>
    <!-- <div class="row" *ngIf="table">
      <label>No data Found</label>
    </div> -->
    <!-- <select class=" form-control" formControlName="chart" [(ngModel)]="selectchart">
               
               <option value="pie">Pie</option> 
                <option value="line">Line</option>
                <option value="bar">Bar  </option>
                 <option value="spline">Spline</option>
              
                   
              </select> -->
    <style>
      .t-padding {
        padding: 3px;
      }
    </style>
    <div class="row">
      <div *ngIf="!summarydata" class="col-lg-7">
        <div class="">
          <ul class="topstats">
            <li class="right-border li-padding" style="margin-left: -37px;">
              <span class="title"><strong>Pending</strong></span>
              <h4 *ngIf="pending_tot!=null" style="text-align: center;" Class="color-up title1"> {{pending_tot}}</h4>
              <h3 *ngIf="pending_tot==''" style="text-align: center;" Class="color-up title1"> {{0}}</h3>
            </li>
            <li class="right-border li-padding" style="padding: 0px 32px 0px 32px;">
              <span class="title"><strong>Assigned</strong></span>
              <h4 *ngIf="assigned_tot!=null" style="text-align: center;" Class="color-up title1"> {{assigned_tot}} </h4>
              <h3 *ngIf="assigned_tot==''" style="text-align: center;" Class="color-up title1"> {{0}}</h3>
            </li>
            <li class="right-border li-padding" style="padding: 0 14px 0 14px;">
              <span class="title"><strong>Resolution In-Progress</strong></span>
              <h4 *ngIf="resolution_in_progress_tot!=null" style="text-align: center;" Class="color-up title1"> {{resolution_in_progress_tot}} </h4>
              <h3 *ngIf="resolution_in_progress_tot==''" style="text-align: center;" Class="color-up title1"> {{0}}</h3>
            </li>
            <li class="li-padding">
              <span class="title"><strong>Verified &  Resolved</strong></span>
              <h4 *ngIf="verified_resolved_tot!=null" style="text-align: center; " Class="color-up title1"> {{verified_resolved_tot}}</h4>
              <h3 *ngIf="verified_resolved_tot==''" style="text-align: center;" Class="color-up title1"> {{0}}</h3>
            </li>
          </ul>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="topstats">
              <li class="li-padding right-border" style="margin-left: -37px;">
                <span class="title"><strong>Closed</strong></span>
                <h4 *ngIf="closed_tot!=null" style="text-align: center;" Class="color-up title1"> {{closed_tot}} </h4>
                <h3 *ngIf="closed_tot==''" style="text-align: center;" Class="color-up title1"> {{0}}</h3>
              </li>
              <li class="right-border li-padding">
                <span class="title"><strong>User Deleted</strong></span>
                <h4 *ngIf="user_deleted_tot!=null" style="text-align: center;" Class="color-up title1"> {{user_deleted_tot}} </h4>
                <h3 *ngIf="user_deleted_tot==''" style="text-align: center;" Class="color-up title1"> {{0}}</h3>
              </li>

              <li class="right-border li-padding">
                <span class="title"><strong>On Hold</strong></span>
                <h4 *ngIf="onhold_tot!=null" style="text-align: center; " Class="color-up title1"> {{onhold_tot}} </h4>
                <h3 *ngIf="onhold_tot==''" style="text-align: center;" Class="color-up title1"> {{0}}</h3>
              </li>
              <li class="right-border li-padding" style="padding: 0 14px 0 14px;">
                <span class="title"><strong>Cannot be Resolved</strong></span>
                <h4 *ngIf="cannot_be_resolved_tot!=null" style="text-align: center;" Class="color-up title1"> {{cannot_be_resolved_tot}}</h4>
                <h3 *ngIf="cannot_be_resolved_tot==''" style="text-align: center;" Class="color-up title1"> {{0}}</h3>
              </li>
              <!--<option value="assigned">Assigned  </option>
                  <option value="onhold">On Hold  </option>
                  <option value="user_resolved">User Resolved  </option> -->
              <li class="li-padding">
                <span class="title"><strong>Total &nbsp;</strong></span>
                <!-- <h3 *ngIf="cannot_be_resolved_to=='0' && onhold_tot=='0' &&  user_deleted_tot=='0' && user_resolved_tot=='0' && pending_tot=='0' && assigned_tot=='0' &&  resolution_in_progress_tot=='0'  && verified_resolved_tot=='0'">{{0}}</h3> -->
                <h4 style="text-align: center;" Class="color-up title1"> {{total}}</h4>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12" *ngIf="avgtable">
            <table class="table table-bordered t-padding">
              <thead class="t-padding">
                <tr class="t-padding">
                  <td colspan="3" style="text-align: center; background-color: #eee" class="t-padding"><strong> Resolution Time for {{selecteddomain |titlecase}} Works in days </strong></td>
                </tr>
              </thead>
              <thead class="t-padding">
                <tr class="t-padding">
                  <th style="text-align: center;" class="t-padding">Minimum</th>
                  <th style="text-align: center;" class="t-padding">Average</th>
                  <th style="text-align: center;" class="t-padding">Maximum</th>
                </tr>
              </thead>
              <tbody  class="t-padding">

                <tr *ngFor="let ad of avgdata;"  class="t-padding">
                  <!-- <td  style="text-align: center; font-weight: bold; color: #1b45e6;">{{ad.minimum}}</td> -->
                  <td *ngIf="ad.minimum != null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 17px;"  class="t-padding">{{ad.minimum}}</td>
                  <td *ngIf="ad.minimum  == null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 17px;"  class="t-padding">0</td>

                  <!-- <td style="text-align: center; font-weight: bold; color: #1b45e6;">{{ad.average}}</td> -->
                  <td *ngIf="ad.average != null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 17px;"  class="t-padding">{{ad.average}}</td>
                  <td *ngIf="ad.average == null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 17px;"  class="t-padding">0</td>

                  <!-- <td style="text-align: center; font-weight: bold; color: #1b45e6;">{{ad.maximum}}</td> -->
                  <td *ngIf="ad.maximum != null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 17px;"  class="t-padding">{{ad.maximum}}</td>
                  <td *ngIf="ad.maximum == null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 17px;"  class="t-padding">0</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div *ngIf="summarydata" class="col-lg-7">
        <div class="">
          <ul class="topstats">
            <li class="right-border li-padding" style="margin-left: -37px;">
              <span class="title"><strong>AC</strong></span>
              <h4 *ngIf="ac_total!=null" style="text-align: center;" Class="color-up title1"> {{ac_total}}</h4>
              
            </li>
            <li class="right-border li-padding">
              <span class="title"><strong>Carpentary</strong></span>
              <h4 *ngIf="carpentary_total!=null" style="text-align: center;" Class="color-up title1"> {{carpentary_total}} </h4>
             
            </li>
            <li class="right-border li-padding" style="padding: 0 14px 0 14px;">
              <span class="title"><strong>Civil</strong></span>
              <h4 *ngIf="civil_total!=null" style="text-align: center;" Class="color-up title1"> {{civil_total}} </h4>
              
            </li>
            <li class="right-border li-padding" style="padding: 0 14px 0 14px;">
              <span class="title"><strong>Electrical</strong></span>
              <h4 *ngIf="electrical_total!=null" style="text-align: center; " Class="color-up title1"> {{electrical_total}}</h4>
            
            </li>
            <li class="right-border li-padding" style="padding: 0 14px 0 14px;">
              <span class="title"><strong>Miscellaneous</strong></span>
              <h4 *ngIf="misc_total!=null" style="text-align: center; " Class="color-up title1"> {{misc_total}}</h4>
            
            </li>
            <li class="li-padding" style="padding: 0 14px 0 14px;">
              <span class="title"><strong>Transportation </strong></span>
              <h4 *ngIf="transportation_total!=null" style="text-align: center; " Class="color-up title1"> {{transportation_total}}</h4>
            
            </li>
            
          </ul>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="topstats">
              <li class="li-padding right-border" style="margin-left: -37px; padding: 0px 14px 0 14px;">
                <span class="title"><strong>Gardening </strong></span>
                <h4 *ngIf="gardening_total!=null" style="text-align: center;" Class="color-up title1"> {{gardening_total}} </h4>
                
              </li>
              <li class="right-border li-padding" style="padding: 0 12px 0 12px;">
                <span class="title"><strong>Infrastructure </strong></span>
                <h4 *ngIf="infrastructure_total!=null" style="text-align: center;" Class="color-up title1"> {{infrastructure_total}} </h4>
              
              </li>

              <li class="right-border li-padding" style="padding: 0 12px 0 12px;">
                <span class="title"><strong>Sanitation</strong></span>
                <h4 *ngIf="sanitation_total!=null" style="text-align: center; " Class="color-up title1"> {{sanitation_total}} </h4>
                
              </li>
              <li class="right-border li-padding">
                <span class="title"><strong>Water Supply </strong></span>
                <h4 *ngIf="water_supply_total!=null" style="text-align: center;" Class="color-up title1"> {{water_supply_total}}</h4>
                
              </li>
              <li class="right-border li-padding">
                <span class="title"><strong>House Keeping </strong></span>
                <h4 *ngIf="house_keeping_total!=null" style="text-align: center;" Class="color-up title1"> {{house_keeping_total}}</h4>
                
              </li>
              <!--<option value="assigned">Assigned  </option>
                  <option value="onhold">On Hold  </option>
                  <option value="user_resolved">User Resolved  </option> -->
              <li class="li-padding">
                <span class="title"><strong>Total &nbsp;</strong></span>
                <!-- <h3 *ngIf="cannot_be_resolved_to=='0' && onhold_tot=='0' &&  user_deleted_tot=='0' && user_resolved_tot=='0' && pending_tot=='0' && assigned_tot=='0' &&  resolution_in_progress_tot=='0'  && verified_resolved_tot=='0'">{{0}}</h3> -->
                <h4 style="text-align: center;" Class="color-up title1"> {{total}}</h4>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12" *ngIf="avgtable">
            <table class="table table-bordered t-padding">
              <thead class="t-padding">
                <tr class="t-padding">
                  <td colspan="3" style="text-align: center; background-color: #eee" class="t-padding"><strong> Resolution Time for {{selecteddomain |titlecase}} Works in days </strong></td>
                </tr>
              </thead>
              <thead class="t-padding">
                <tr class="t-padding">
                  <th style="text-align: center;" class="t-padding">Minimum</th>
                  <th style="text-align: center;" class="t-padding">Average</th>
                  <th style="text-align: center;" class="t-padding">Maximum</th>
                </tr>
              </thead>
              <tbody  class="t-padding">

                <tr *ngFor="let ad of avgdata;"  class="t-padding">
                  <!-- <td  style="text-align: center; font-weight: bold; color: #1b45e6;">{{ad.minimum}}</td> -->
                  <td *ngIf="ad.minimum != null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 17px;"  class="t-padding">{{ad.minimum}}</td>
                  <td *ngIf="ad.minimum  == null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 17px;"  class="t-padding">0</td>

                  <!-- <td style="text-align: center; font-weight: bold; color: #1b45e6;">{{ad.average}}</td> -->
                  <td *ngIf="ad.average != null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 17px;"  class="t-padding">{{ad.average}}</td>
                  <td *ngIf="ad.average == null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 17px;"  class="t-padding">0</td>

                  <!-- <td style="text-align: center; font-weight: bold; color: #1b45e6;">{{ad.maximum}}</td> -->
                  <td *ngIf="ad.maximum != null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 17px;"  class="t-padding">{{ad.maximum}}</td>
                  <td *ngIf="ad.maximum == null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 17px;"  class="t-padding">0</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div *ngIf="!table" class="col-lg-5">
        <chart [options]="options"></chart>
      </div>
    </div>





    <div class="row">
      <div class="col-md-12 tabel_overflow">
        <table class="table table-responsive table-bordered table-green" [mfData]="data | dataFilter:filterQuery" #mf="mfDataTable"
          [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
          <thead>

            <tr>
              <th style="min-width: 90px;" nowrap>
                <mfDefaultSorter by="insert_dt">Issue Raised On</mfDefaultSorter>
              </th>
              <th style="min-width: 90px;" nowrap>
                <mfDefaultSorter by="domain">Domain</mfDefaultSorter>
              </th>
              <th nowrap>
                <mfDefaultSorter by="issue_desc">Issue Description</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="location">Location</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="problem">Impact</mfDefaultSorter>
              </th>

              <th nowrap>
                <mfDefaultSorter by="raised_by">Raised By</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="mobile">Mobile</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="priority">Priority</mfDefaultSorter>
              </th>
              <th style=" color: white;">
                <mfDefaultSorter by="status"> Status </mfDefaultSorter>
              </th>
              <th nowrap>
                <mfDefaultSorter by="days">Elapsed Days</mfDefaultSorter>
              </th>
              <th style=" color: white;">
                <mfDefaultSorter by="img_name"> Img </mfDefaultSorter>
              </th>
              <th nowrap>
                Details if Edited
              </th>


            </tr>
            <tr>

            </tr>
          </thead>
          <tbody *ngIf="mf.data.length != 0">
            <!--[ngClass]="item.status == 'pending' ? 'danger' : ''"-->
            <tr *ngFor="let item of mf.data; let i=index;">

              <td>{{item.insert_dt|date:'dd-MMM-yyyy'}}</td>
              <td>{{item.domain|titlecase}}</td>
              <td>{{item.issue_desc}}</td>
              <td>{{item.location}}</td>
              <td>{{item.problem}}</td>
              <td>{{item.raised_by}}</td>
              <td>{{item.mobile}}</td>
              <td>{{item.priority}}</td>
              <!-- <td *ngIf="item.status=='pending'"><span class="badge blue" style="margin: 0px 40px 0px 2px;">Pending</span></td>
              <td *ngIf="item.status=='verified_resolved'"><span class="badge green" style="margin: 0px 40px 0px 2px;">Verified Resolved</span></td>
              <td *ngIf="item.status=='resolution_in_progress'"><span class="badge orange" style="margin: 0px 40px 0px 2px;">Resolution in Progress</span></td>
              <td *ngIf="item.status=='cannot_be_resolved'"><span class="badge red" style="margin: 0px 40px 0px 2px;"> Cannot be Resolved </span></td>
              <td *ngIf="item.status=='user_deleted'"><span class="badge red" style="margin: 0px 40px 0px 2px;">User Deleted</span></td>
              <td *ngIf="item.status=='onhold'"><span class="badge red" style="margin: 0px 40px 0px 2px;">On Hold</span></td>
              <td *ngIf="item.status=='assigned'"><span class="badge orange" style="margin: 0px 40px 0px 2px;">Assigned</span></td> -->
              <!-- <td *ngIf="item.status=='user_resolved'"><span class="badge green" style="margin: 0px 40px 0px 2px;">User Resolved</span></td> -->
              <!-- <td *ngIf="item.status=='closed'"><span class="badge green" style="margin: 0px 40px 0px 2px;">Closed</span></td> -->
              <td nowrap *ngIf="item.status=='verified_resolved'"><span class="badge green" style="margin: 0px 40px 0px 2px;" tooltipPlacement="top" tooltip="{{item.notes}}">Verified Resolved</span></td>
              <td nowrap *ngIf="item.status=='cannot_be_resolved'"><span class="badge red" style="margin: 0px 40px 0px 2px;" tooltipPlacement="top" tooltip="{{item.cannottext}}">Cannot be Resolved</span></td>
              <td nowrap *ngIf="item.status=='user_deleted'"><span class="badge red" style="margin: 0px 40px 0px 2px;" tooltipPlacement="top" tooltip="{{item.userdeletedtext}}">User Deleted</span></td>
              <td nowrap *ngIf="item.status=='onhold'"><span class="badge red" style="margin: 0px 40px 0px 2px;" tooltipPlacement="top" tooltip="{{item.onholdtext}}">On Hold</span></td>
              <td nowrap *ngIf="item.status=='pending'"><span class="badge blue" style="margin: 0px 40px 0px 2px;" tooltipPlacement="top" tooltip="pending">Pending</span></td>
              <td nowrap *ngIf="item.status=='resolution_in_progress'"><span class="badge orange" style="margin: 0px 40px 0px 2px;" tooltipPlacement="top" tooltip="{{item.resolutiontext}}">Resolution in Progress</span></td>
              <td nowrap *ngIf="item.status=='assigned'"><span class="badge orange" style="margin: 0px 40px 0px 2px;" tooltipPlacement="top" tooltip="{{item.assignedtext}}">Assigned</span></td>
              <td nowrap *ngIf="item.status=='closed'"><span class="badge default" style="margin: 0px 40px 0px 2px;" tooltipPlacement="top" tooltip="{{item.repairedtext}}">Closed</span></td>


              <td *ngIf="item.days <= 0  && item.status == 'pending'" style="text-align: center;">{{-(item.day)}} </td>
              <td *ngIf="item.days <= 0  && item.status == 'verified_resolved'" style="text-align: center;">{{-(item.days)}}</td>
              <td *ngIf="item.days <= 0  && item.status == 'resolution_in_progress'" style="text-align: center;">{{-(item.day)}}</td>
              <td *ngIf="item.days <= 0  && item.status == 'cannot_be_resolved'" style="text-align: center;">{{-(item.days)}}</td>
              <td *ngIf="item.days <= 0  && item.status == 'user_deleted'" style="text-align: center;"></td>
              <td *ngIf="item.days <= 0  && item.status == 'user_resolved'" style="text-align: center;">{{-(item.days)}}</td>
              <td *ngIf="item.days <= 0  && item.status == 'assigned'" style="text-align: center;">{{-(item.day)}}</td>
              <td *ngIf="item.days <= 0  && item.status == 'onhold'" style="text-align: center;">{{-(item.day)}}</td>
              <td *ngIf="item.days <= 0  && item.status == 'closed'" style="text-align: center;">{{-(item.day)}}</td>



              <td> <a *ngIf="item.img_name" (click)="getImagesbyId(item.did,item.reg_no)"> View </a> </td>
              <td style="text-align: center" *ngIf="(item.status=='verified_resolved' || item.status=='resolution_in_progress' || item.status=='cannot_be_resolved' || item.status=='user_deleted' || item.status=='pending') && (item.repaired_on !=null || item.repaired_by !=null || item.date_of_resolution !=null || item.notes !=null) ">
                <a (click)="details(item)" class="btn btn-xs btn-danger" style="text-align: center;">Details</a>
              </td>
              <td *ngIf="item.status == 'user_deleted'"><a (click)="details(item)" class="btn btn-xs btn-danger" style="text-align: center;">Details</a></td>
              <td *ngIf ="item.status == 'assigned' || item.status == 'onhold' || item.status == 'closed' || item.status == 'pending' || item.status=='resolution_in_progress'"></td>
              <!-- <td *ngIf="item.status == null || item.repaired_on ==null && item.repaired_by ==null && item.date_of_resolution ==null && item.notes ==null ">
              </td> -->

            </tr>
          </tbody>
          <tbody *ngIf="mf.data.length == 0">
            <tr rowspan="2">
              <td colspan="12">
                <h4 *ngIf="mf.data.length == 0" class="text-center"> No Data found</h4>
              </td>
            </tr>
          </tbody>

          <tfoot>
            <tr>
              <td colspan="12">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>
</div>

<app-modal #modal1>
  <div class="app-modal-header">
    <h4 style="color:black">View issue </h4>
  </div>
  <div class="app-modal-body">

    <table class="table table-bordered table-responsive">
      <tr>
        <th>Raised By</th>
        <td>{{raised_by}}</td>
      </tr>
      <tr>
        <th>Date</th>
        <td>{{date}}</td>
      </tr>

      <tr>
        <th>Location</th>
        <td>{{location}}</td>
      </tr>
      <tr>
        <th>Problem</th>
        <td>{{problem}}</td>
      </tr>
      <tr>
        <th>Issue Description</th>
        <td>{{issue}}</td>
      </tr>


      <tr *ngIf="on!=null">
        <th>Repaired On</th>
        <td *ngIf="on == null">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td *ngIf="on !=null">{{on}}</td>

      </tr>
      <tr *ngIf="by!=null">
        <th>Repaired By</th>
        <td *ngIf="by == null">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td *ngIf="by !=null">{{by}}</td>
      </tr>
      <tr *ngIf="resolution!=null">
        <th>Date of Resolution</th>
        <td *ngIf="resolution == null">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td *ngIf="resolution !=null">{{resolution}}</td>
      </tr>
      <tr *ngIf="notes!=null">
        <th>Notes</th>
        <td *ngIf="notes == null">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td *ngIf="notes !=null">{{notes}}</td>
      </tr>

    </table>
  </div>

  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="modal1.hide()">Close</button>
    <!--<button type="button" class="btn btn-primary" (click)="ok()">OK</button>-->
  </div>
</app-modal>

<app-modal #modal3>
  <div class="app-modal-header">
    <h4 style="color:black">
      <div> </div>
    </h4>
  </div>
  <div class="app-modal-body">
    <!--<table style="width:100%">
  <tr *ngFor="let img of img_data;">
    <td><img src="{{img_url}}/{{img.img_name}}" style="width:400px; height:auto; margin-left: 65px;"> </td> 
    
  </tr>
    </table>-->
    <div *ngFor="let img of img_data; let i=index">
      <div class="col-md-6">
        <label>Image {{i+1}}</label>
        <img src="{{img_url}}/{{img.img_name}}" style="width:400px; height:auto; margin-left: 65px;">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="app-modal-footer" style="margin-top: 15px;">
    <!--<button type="button" class="btn btn-default btn-square" (click)="delete1();">Yes</button>-->
    <button type="button" class="btn btn-danger btn-square" (click)="imageclose();">Close</button>
  </div>
</app-modal>