<!--<div *ngIf="role =='adm'">-->
<div class="portlet portlet-default" *ngIf="addFormStatus">
  <div class="portlet-heading">
    <div class="portlet-title">
      <h4> My Issues List </h4>
    </div>
    <div class="portlet-widgets">
      <a (click)="hideAddForm()" style="cursor: pointer !important"><i class="fa fa-times"></i></a>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="portlet-body">
    <form (ngSubmit)="getSelIssueData()" method="post" [formGroup]="issues_form" novalidate>
      <div class="form-horizontal">
        <div class="form-group">
          <div class="col-md-3">
            <label>Domain</label>
            <select formControlName="domain" class="form-control">
              <option *ngFor="let cl of domains" value="{{cl.value}}">{{cl.title}}</option>
              <!--<option selected value="verified_resolved">Verified Resolved</option>
              <option selected value="Electrical">Electrical</option>-->
          </select>
          </div>
          <div class="col-md-2">
            <label for="email">Location/Serial Number</label>
            <input type="text" class="form-control" name="location" value="location" formControlName="location" />
          </div>
          <div class="col-md-2">
            <label for="email">Impact/Problem</label>
            <input type="text" name="problem" class="form-control" value="problem" formControlName="problem" />
          </div>
          <div class="col-md-2">
            <label for="email">Issue Description</label>
            <!--<input type="text" class="form-control" />-->
            <textarea class="form-control" name="issue_desc" value="issue_desc" formControlName="issue_desc"></textarea>
          </div>

          <div class="col-md-2">
            <button type="submit" [disabled]="!issues_form.valid" class="btn btn-default btn-square col-md-6" style="margin-top: 25px;">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!--</div>-->
<!--<div class="portlet portlet-default"> 
   <div class="portlet-heading">
    <div class="portlet-title">
      <h4>Issue LIST</h4>
    </div>
    <div class="portlet-widgets">
      <a (click)="showAddForm()" style="cursor: pointer !important"><i class="fa fa-plus-square"></i> <span class="divider"></span> Add Issue</a>
    </div>
    <div class="clearfix"></div>
  </div>-->
  <!--<div class="panel-group" id="accordion">
    <div class="panel panel-default" *ngFor="let item of domainsbyid; let i=index;">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" data-toggle="collapse" (click)="getDomain(item.domain)" href="#{{i}}">{{item.domain}}</a>
        </h4>
      </div>
      <div id="{{i}}" class="panel-collapse collapse">
        <div class="panel-body">

          <div class="table-responsive">
            <table class="table table-green table-bordered table-hover" *ngIf="table">
              <thead>
                <tr>
                  <th>Domain</th>
                  <th>Location/Serial Number</th>
                  <th>Impact/Problem</th>

                  <th style="width: 13%">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let items of data1; let k=index;">
                  <td>{{items.domain}} {{items.did}}</td>
                  <td>{{items.location}}</td>
                  <td>{{items.problem}}</td>

                  <td>
                    <a class="btn btn-info btn-xs btn-square" (click)="details(items)" style="margin-right: 5px; width: 50px;">Edit</a>
                    <a class="btn btn-danger btn-xs btn-square" (click)="delete(items)">Delete</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>-->
  <div class="portlet portlet-default">
  <div class="portlet-heading">
    <div class="portlet-title">
      <h4>Issue LIST</h4>
    </div>
    <div class="portlet-widgets">
      <a (click)="showAddForm()" style="cursor: pointer !important"><i class="fa fa-plus-square"></i> <span class="divider"></span> Add Issue</a>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="portlet-body">
    <div class="table-responsive">
      <table class="table table-green table-bordered table-hover">
        <thead>
          <tr>
            <th>Domain</th>
            <th>Issue Description</th>
            <th>Location/Serial Number</th>
            <th>Impact/Problem</th>
            <!--<th>Priority</th>
            <th>Repaired On</th>
            <th>Assigned to</th>
            <th>Date of Resolution</th>
            <th>Issue Description</th>
            <th>Notes</th>
            <th>Status</th>-->
            <th style="width: 13%">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data2; let i=index;">
            <td>{{item.domain}}</td>
            <td>{{item.issue_desc}}</td>
            <td>{{item.location}}</td>
            <td>{{item.problem}}</td>
            <!--<td>{{item.location}}</td>
            <td>{{item.location}}</td>
            <td>{{item.location}}</td>
            <td>{{item.location}}</td>
            <td>{{item.location}}</td>
            <td>{{item.location}}</td>
            <td>{{item.location}}</td>-->
            <td>
              <a class="btn btn-info btn-xs btn-square"  (click)="details(item)" style="margin-right: 5px; width: 50px;">Edit</a>
              <a class="btn btn-danger btn-xs btn-square" (click)="delete(item)" >Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
  <app-modal #modal1>
    <div class="app-modal-header">
      <h4 style="color:black">Update issue   <a data-dismiss="modal" class="pull-right" (click)="close()">x</a> </h4>
    </div>
    <div class="app-modal-body">
      <form novalidate [formGroup]="issues_form" (ngSubmit)="getSelIssueData()" role="form">
        <div class="box-body">
          <div class="form-group">

            <label class="col-sm-3 control-label">Domain</label>
            <div class="input-group col-sm-6">
              <select formControlName="domain" class="form-control">
              <option *ngFor="let cl of domains" value="{{cl.value}}">{{cl.title}}</option>
              <!--<option selected value="verified_resolved">Verified Resolved</option>
              <option selected value="Electrical">Electrical</option>-->
          </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Location/Serial Number</label>
            <div class="input-group col-sm-6">
              <input type="text" class="form-control" name="location" value="location" formControlName="location" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Impact/Problem</label>
            <div class="input-group col-sm-6">
              <input type="text" name="problem" class="form-control" value="problem" formControlName="problem" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Issue Description</label>
            <div class="input-group col-sm-6">

              <!--<input type="text" class="form-control" />-->
              <textarea class="form-control" name="issue_desc" value="issue_desc" formControlName="issue_desc"></textarea>
            </div>
          </div>
             <input type="hidden" formControlName="did"   name="did"   value=""  class="form-control">
          <div class="form-group">
            <div class="col-sm-offset-4">
              <button type="submit" [disabled]="!issues_form.valid" class="btn btn-default btn-square col-md-6" style="margin-top: 25px;">Update</button>
              <!--<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>-->
            </div>
          </div>







        </div>
        <!--<div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <button type="button"  class="btn btn-danger" (click)="delete()">Delete</button>
            <button type="submit" class="btn btn-primary" >Save Changes</button>
          </div>-->






        <div class="app-modal-footer">
          <!--<button type="submit" class="btn btn-primary" >Save Changes</button>
      <button type="button" class="btn btn-default" (click)="close();">Close</button>-->
          <!--<button type="button" class="btn btn-primary" (click)="ok()">OK</button>-->
        </div>
      </form>
    </div>
  </app-modal>